# Ignore everything by default
*

# Unignore directories (crucial for git to look inside folders)
!*/

# Allow updates folder and everything inside
!updates/
!updates/**

# Allow root version file
!version.json

# Allow gitignore itself
!.gitignore
